---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        @apply w-[960px];
      }
      ul {
        @apply grid grid-cols-2 gap-4 m-0 p-0 list-none;
      }
      ul li * {
        @apply transition-colors duration-200 ease-in-out;
      }
      ul li:first-child {
        @apply w-full mb-1 text-center;
        grid-column: 1 / -1;
      }
      ul li:not(:first-child) {
      }
      ul li:first-child img {
        @apply w-full;
      }
      ul li:first-child .title {
        @apply text-5xl;
      }
      ul li img {
        @apply mb-0.5 rounded-lg;
      }
      ul li a {
        @apply block;
      }
      .title {
        @apply m-0 text-black leading-none;
      }
      .date,
      .authors {
        @apply m-0 text-gray-500;
      }
      ul li a:hover h4,
      ul li a:hover .date {
        @apply text-accent;
      }
      ul a:hover img {
        @apply shadow-md;
      }
      @media (max-width: 720px) {
        ul {
          @apply gap-x-0.5 gap-y-0.5
					grid-cols-1;
        }
        ul li {
          @apply w-full text-center;
        }
        ul li:first-child {
          @apply mb-0;
        }
        ul li:first-child .title {
          @apply text-3xl;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=''
                  />
                  <h4 class='title'>{post.data.title}</h4>
                  <p class='date'>
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <p class='authors'>{post.data.authors.join(', ')}</p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
